html, body {
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

.container {
    padding: 0 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container__wrapper {
    padding: 16px;
    flex: 1;
}

.container__logo__text {
    text-transform: uppercase;
    text-align: center;
    margin-top: 16px;
    font-size: 22px;
}

.container__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__image img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.container__description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
}

.container__description__en {
    margin-top: 0;
    font-size: 18px;
}

.container__button {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button {
    /*min-width: 22rem;*/
    padding: 0.6rem 2rem;
    font-size: 16px;
    border: none;
    background-color: #212529;
    color: white;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: #343a40;
}

/*@media (max-width: 382px) {*/
/*    .container__description {*/
/*        font-size: 18px;*/
/*    }*/
/*}*/